html,body {
	color: #262626;
	text-align: center;
	font-size: 150%;
	font-family: 'Unica One', cursive;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow:auto;
}

.weatherBox {
  display: flex;
	position: fixed;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	top: 5%;
	left: 10%;
  width: 80%;
	height: auto;
}

#cityTemp {
}

#temperature {
	/*margin:auto;*/
}

#conditions {
	font-size: 3em;
	color: yellow;
}

@media screen
and (max-width: 1024px)
and (orientation: landscape) {
	body {
		font-size: 90%;
	}

	.weatherBox {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	#conditions {
		padding-left: 10%;
	}

	#windCoord {
		padding-left: 5%;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 90%;
	}

	#weatherBox {
		width: 80%;
	}

	#imgdiv {
		font-size: 70%;
	}
